html {
  height: 100%;
  overflow-y: scroll;
}

body {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  background-color: rgb(16, 16, 45);
  color: coral;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

#header {
  background-image: url('../images/clouds.png');
  background-repeat: no-repeat;
  background-position-y: 97%;
  background-size: cover;
  height: 400px;
}

#main-nav {
  text-align: center;
  position: relative;
  border-bottom: solid rgb(53, 52, 52) 2px;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 4px;
  background-color: rgba(40, 117, 164, 0.2);
}

#company-logo-link {
  position: absolute;
  left: 10px;
  padding-top: 4px;
}

#company-logo {
  width: 80px;
}

.nav-link {
  display: inline-block;
  border-bottom-color: transparent;
  text-decoration: none;
  color: black;
  margin: 20px 10px;
  font-size: 20px;
}

.nav-link.light {
  color: white;
}

.nav-link:hover {
  border-bottom: 3px solid purple;
  transition-duration: 0.105s;
}

#social-links {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 28px;
}

#content-wrapper {
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(30, 29, 55);
}

#game-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#game-desc {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;
  font-size: 1.8em;
}

#key-features-list {
  list-style-type: none;
  padding: 0;
}

.feature-item {
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.feature-item p {
  width: 300px;
  padding: 100px;
}

.feature-title {
  font-weight: bold;
}

.feature-img {
  border-style: solid;
  width: 450px;
  height: 300px;
}

.feature-reverse {
  flex-direction: row-reverse;
}

#faqs-header {
  margin-bottom: 28px;
}

#faqs-list {
  list-style-type: none;
  padding: 0;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.faqs-item {
  margin-bottom: 30px;
}

.faqs-question {
  font-weight: bold;
  font-size: 16px;
}

.faqs-answer {
  font-size: 15px;
}

#footer {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(transparent, black);
  padding-top: 40px;
  padding-bottom: 20px;
}

.download-badge {
  height: 30px;
}

.social-icon {
  height: 28px;
}


#game-desc {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;
}

#key-features-list {
  list-style-type: none;
  padding: 0;
}

.feature-item {
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.feature-item p {
  width: 300px;
}

.feature-title {
  font-weight: bold;
}

.feature-img {
  border-style: solid;
  width: 450px;
  height: 300px;
}

.team-container {
  text-align: center;
  background-color: coral;
  color: rgb(16, 16, 45);
}

.team-greeting {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 28px;
}

.team-desc {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.members-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 50%;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.member {
  width: 300px;
}

.member-avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: rgb(111, 174, 247);
}

.member-name {
  font-weight: bold;
}

/* Dev Blog Page ----------------------------------------------------*/


.blog-container {
  background-color: coral;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(16, 16, 45);
  width: 70%;
  margin: 0 auto;
}

#blog-post {
  margin: 25px;
  margin-right: 250px;
  width: 600px;
  height: 900px;
}

.blog-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.blog-history {
  margin: 25px;
  /*background-color: rgb(216, 136, 107);*/
  position: -webkit-sticky;
  position: sticky;
  right: 20px;
  height: 500px;
  border-left: 1px solid gray;
  box-shadow: -1px 0 0 #111;
  padding-left: 15px;
}

#website-live-announcement-img {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}



.next-previous-bar {
  position: relative;
  height: 3em;
}

.next-previous-bar p{
  display: inline-block;

}

#next-previous-bar-left {
  position: absolute;
  left: 0;
}

#next-previous-bar-right {
  position: absolute;
  right: 0;
}

.next-previous-bar a {

}
.next-previous-bar a:link {
  color: rgb(16, 16, 45);
}

.next-previous-bar a:visited {
  color: rgb(16, 16, 45);
}

/* Dev Blog Page End --------------------------------------------------*/

/* Media Queries ------------------------------------------------------*/
/*
    320px — 480px: Mobile devices.
    481px — 768px: iPads, Tablets.
    769px — 1024px: Small screens, laptops.
    1025px — 1200px: Desktops, large screens.
    1201px and more — Extra large screens, TV.

    Making 480px, 768px, 992px, and 1200px as breakpoints

    Note: Offset your max-widths

If you must you max-width, be sure to offset it by at least 0.02px.
That is, use max-width: 479.98px instead of max-width: 480px, since
the latter will have a small overlap with min-width: 480px.
*/

@media only screen and (max-width: 1600px) {
  .blog-container {
    width: 1130px;
  }
}

@media only screen and (max-width: 1130px) {
  .blog-container {
    width: 100%;
  }

  #blog-post {
    margin: 25px auto 25px 25px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1199.98px) {
  /* screen size 768px and 992px look good when using this format*/
  .feature-item {
    flex-direction: column;
  }

  .feature-item img {
    margin: 0 auto;
  }

  .feature-item p {
    margin: 0 auto;
    padding: 5px;
  }
}


@media only screen and (max-width: 749.98px) {
  #social-links {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 60px;
    top: 10px;
  }

  #game-logo {
    width: 100%;
  }

  #header {
    height: auto;
  }

  .feature-item img {
    margin: 0 auto;
    width: 96%;
    height: 96%;
  }

  .members-list {
    flex-direction: column;
    align-items: center;
  }

  .team-desc {
    width: 80%;
  }

  #blog-post {
    margin: 25px;
  }

  .blog-history {
    display: none;
  }
}

@media only screen and (max-width: 479.98px) {
  #header {
    height: 100%;
  }

  #main-nav {
    height: 100%;
  }

  #company-logo-link {
    position: initial;
  }

  .nav-link {
    display: block;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .nav-link:hover {
    border: none;
  }

  #social-links {
    position: initial;
    width: 100%;
  }

  #game-logo {
    width: 100%;
  }

  #game-desc {
    font-size: 1.3em;
  }

  .feature-item {
    flex-direction: column;
  }

  .feature-item img {
    margin: 0 auto;
    width: 96%;
  }

  .feature-item p {
    padding: 0;
    padding-bottom: 5px;
    margin: 0 auto;
    width: 100%;
  }

  .feature-item img {
    height: inherit;
  }
}

/* Media Queries End --------------------------------------------------*/