#page-container {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.download-badge {
  height: 30px;
}

.social-icon {
  height: 20px;
}